<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node</title>
    
</head>
<body>
    {{> header}}
    <p>project page would go here</p>
   
   {{> footer}}
   
</body>
</html>